<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">


html {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}


@media screen and (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

figure.two {
    width: 49%;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
}

figure.three {
    width: 33%;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
    /*display: inline-block;*/
}

div.three {
  width: 100%;
  float: left;
  margin: 0;
  text-align: center;
  padding: 0;
  /*display: inline-block;*/
}

.home-section {
  background-color: rgb(255, 255, 255);
  padding: 40px 0 40px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

